table.dataTable { width: 100% !important; }
.clickable { cursor: pointer; }

/* Data points */
.project-info { margin-top: 10px; margin-bottom: 10px; font-size: 12px; }
.project-info-bit { font-weight: 600; margin-bottom: 0px; }
.project-info-title { color: #888da8; margin-bottom: 0px; }
.project-block { display: inline-block; margin: 10px; }

/* profile*/
.profile-user-icon { margin-bottom: 10px; }
.profile-user-role { position: absolute; top: 5px; right: 20px; }
.profile-online { color: #36c90f; font-weight: 600; }
.profile-offline { color: #acacac; font-weight: 600; }
.profile-p { margin-bottom: 2px; }
.profile-heading { margin: 0px; font-weight: 600; color: #808080; padding-bottom: 2px; border-bottom: 1px solid #808080; margin-bottom: 10px; font-size: 16px;}
.borderless td, .borderless th {
    border: none !important;
}
.img1{
    float:left;!important;
    width:20%;!important;
}
.profile-header-name .text1{
    float:left;!important;
    width:80%;!important;
}
.profile-info-content { font-weight: 500; }
.profile-big-text {     color: #515365;
    font-size: 14px; }
.post-like-area { margin: 10px; }

.user_role_button { border: 1px solid #1e8ed0; font-weight: 600; border-radius: 4px; padding: 5px; font-size: 11px; margin: 1px; margin-bottom: 2px; vertical-align: top; display: inline-block;}
.user_role_button:hover { background: #e3efff; }
.user_role_button.admin { border: 1px solid #1bbc42 !important; color: #1bbc42; }
.user_role_button.project { border: 1px solid #1e8ed0 !important; color: #1e8ed0; }
.user_role_button.client { border: 1px solid #e46825 !important; color: #e46825;}
.user_role_button.banned { border: 1px solid #e46825 !important; color: #eb271c;}

/*user box*/
.user-box-name { display: inline-block; font-size: 12px; line-height: 6px; vertical-align: middle;}
.user-box-name p { margin-bottom: 0px; margin-top: 5px; margin-left: 0px; margin-right: 0px; }
.user-box-username { font-size: 11px; color: #8c8c8c; line-height: 10px; margin-top: 7px; }

.user_bit ul li a { color: #000 !important; margin: 0px; height: auto !important; }

    nav.navbar  .user_bit ul li a 
    {    
    font-size: 12px;
    color: #515365!important;
    display: block;
    font-weight: 700;
    padding: 7px 20px;  
    }
  nav.navbar  .user_bit  ul.dropdown-menu {
    min-width: 230px;box-shadow: 0 0 34px 0 rgba(63,66,87,.1);border:none;
    border-radius: 4px!important;
   }
    
  html body  nav.navbar  .user_bit ul li a:hover { color: #0074ff!important; margin: 0px; height: auto !important;background-image: none;
    background: transparent; }
  html body  nav.navbar  .user_bit  ul.dropdown-menu:before {
    position: absolute;
    display: inline-block;
    content: '';
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #fff;
    right: 25px;
}
  html body  nav.navbar  .user_bit  ul.dropdown-menu .divider {
    margin: 9px 0 5px;   
    background-color: #e6ecf5;
}
  html body  nav.navbar  li.user_bit a.dropdown-toggle svg {
    margin-left: 2px;
    fill: #fff;
    width: 6px;
    height: 4px;
    margin-top: 4px;
}
.user-icon {     margin: 13px 0px;
    border-radius: 18px;
    width: 28px !important;
    height: 28px !important; }
.user-icon-big { border-radius: 18px; width: 40px !important; height: 40px !important; }

/* Friends Bar */
.friends-title {      font-size: 9px;
    text-transform: uppercase;
    color: #9a9fbf;
    margin-bottom: 0;}
.friends-bar-box { border-top: 1px solid #e6ecf5; padding: 10px; }
.friends-bar-user { float: left; width: 50px; }
.friends-bar-info { float: left; }
.friends-padding-content { padding: 10px; }
.friends-bar-last-online { font-size: 11px; color: #626871; margin-bottom: 0px; }

/*Mail */
/* mail box */
.mail-border-top{ border-top: 1px solid #EEE; }
.mail-border-right { }
.mail-box-snippet {     padding:25px; position: relative; border-bottom: 1px solid #EEE; }
.mail-box-snippet:hover {background: #EEE;}
.mail-box-avatar { float: left;width: 36px; text-align: center; position: relative; }
.mail-box-text { overflow: hidden;    padding-left: 15px; }
.mail-box-avatar img {    width: 36px;
    height: 36px;
    border-radius: 50%;  }
.mail-box-username { margin: 0px; }
.mail-box-title { margin: 0px; }
.mail-box-message { margin: 0px; color: #848484 !important; font-size: 12px; }
.mail-box-timestamp {     position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    color: #888da8;
    font-weight: 400; }
#mail-view { min-height: 500px; border-left: 1px solid #EEE; }
.mail-header { border-bottom: 1px solid #EEE; padding: 10px; font-weight: 600; }
#loading_spinner_mail { display: none; font-size: 48px; position:absolute; top:0; bottom:0; left:0; right:0; width:30px; height:30px; margin:auto; }
.mail-header-timestamp { float: right; margin-left: 5px; font-size: 11px;    padding: 0px 0px 15px 0px; }

.mail-reply { border-bottom: 1px solid #eee; padding:25px; }
.mail-reply-avatar { float: left; width:36px; text-align: center; position: relative; padding-top:0px; }
.mail-reply-avatar img { width:36px; height: 36px; border-radius: 20px; }
.mail-reply-body { overflow: hidden; padding-top:4px; position: relative;    padding-left: 15px; }
.mail-reply-timestamp { position: absolute; top: 5px; right: 5px; font-size: 11px; }
.mail-reply-user { margin: 0px; }
.mail-reply-message { margin: 0px; font-size: 12px; }
.mail-reply-message p { margin: 0px; font-size: 12px; }
.mail-reply-button{ margin-top: 10px; }
.mail-reply-textbox { padding: 10px; padding-top: 20px; }
.mail-options { float: right; }
.mail-pagination { float: left; }

.online-dot { background: #26E612; width: 8px; height: 8px; border-radius: 4px; border: 1px solid #FFF; position: absolute; bottom: 0px; left: 33px;}
.no-padding { padding: 0px !important; }
.mail-unread-alert { border-left: 2px solid #e12760; }
.load_next { display: none; }

.sidebar-block {  }
.sidebar-title { margin: 5px; color: #707070; font-weight: 600; margin-top: 15px;}
.sidebaricon { color: #646c76; }
.sidebar-block ul { list-style: none; padding: 0px; margin-bottom: 5px;}
.sidebar-block ul .active { background: #f4f4f4; border: 1px solid #DDD; margin-top: 5px; margin-bottom: 5px; padding: 5px; border-radius: 4px; }
.sidebar-block ul li {  margin-top: 5px; margin-bottom: 5px; padding: 5px; }

.page-block {   
 background: #FFF;
    border: 1px solid #e6ecf5;
    border-radius: 4px;
    padding: 0;}
.page-block-inner { border-radius: 4px; min-height: 100px; position: relative;}
.page-block-avatar { position: absolute; bottom: 10px; left: 10px; border-radius: 50%; padding: 2px; background: #FFF; height: 50px; width: 50px; }
.page-block-avatar img { width: 100%; border-radius: 50%; }
.page-block-info { float: right; color: #000; background: #FFF; padding: 2px; border: 1px solid #DDD; border-radius: 4px; margin: 10px; }
.page-block-title { font-size: 18px; border-bottom: 1px solid #DDD; }
.page-block-page { margin-top:0px; padding:22px;border-bottom: 1px solid #e6ecf5; }
.nobutton { margin: 5px; padding: 0px; border: none; background: none; }
.nobutton:hover { background: #DDD; }
/* Editor */
.editor-wrapper { background: #FFF; border: 1px solid #DDD; border-radius: 4px; }
.editor-content { padding: 10px; }
.editor-header { background: #f6f6f6; border-bottom: 1px solid #DDD; padding: 10px; }
.editor-footer { position: relative; background: #f6f6f6; border-top: 1px solid #DDD; padding: 10px; }
.editor-textarea { background: #FFF; border: none; resize: none; width: calc(100% - 50px);}
.edit-textarea { background: #f6f6f6; padding: 10px; border-radius: 8px; }
.editor-user-icon { float: left; width: 50px; position: relative; }
.editor-user-option { position: absolute; top: -10px; right: 0px; }
.editor-textarea-part { position: relative; float: left; width: calc(100% - 50px);}
.editor-textarea-part .mentions-input { display: block !important; }
.editor-textarea-wrapper { margin-bottom: 10px; }
.editor-icon-space { margin-right: 10px; }
.editor-button { background: #f6f6f6; border: 1px solid #f6f6f6; font-weight: 600; border-radius: 4px; padding: 5px; font-size: 12px; margin: 1px; margin-bottom: 2px; margin-right: 10px; vertical-align: top; display: inline-block;}
.editor-button:hover { background: #e3efff; }
.editor-event { text-align: center; }
.edit-editor-textarea { position: relative; height: 100px; width: 100%; background: #FFF; border: none; resize: none;}
.big-event-icon { font-size: 32px !important; }

.feed-wrapper { background: #FFF; border: 1px solid #DDD; border-radius: 4px; margin-top: 0; margin-bottom: 20px; position: relative; }
.feed-header {     background: transparent;
    border-bottom: none;}
.feed-header-user { float: left; /*padding: 10px;*/ }
.feed-header-info { /*padding: 10px;*/ position: relative; margin-right: 0px; }
.feed-header-info p { margin-bottom: 2px; }
.feed-timestamp { color: #626569; font-size: 11px; }
.feed-header-dropdown { position: absolute; right: 10px; top: 10px; }
.faded-icon { color:#888da8; }
.feed-content {    line-height: 1.5;
    color: #888da8;
    padding: 15px 0 0;
    font-size: 14px }
.feed-content iframe { max-width: 100%; }
.feed-footer { background: #f6f6f6; border-top: 1px solid #DDD; padding-left: 10px; }
.active-like { font-weight: bold; color: #0a88bd; }
.feed-content-stats { border-top: 1px solid #e6ecf5; font-size: 11px; margin-top: 10px; padding: 20px 10px; padding-left: 0; }
.feed-stat { margin-right: 10px; }
.feed-content-stat-likes { width: 40px; text-align: center; position: absolute; right: -15px; top: 80px; padding: 5px; font-size: 8px; background: #FFF; border-radius: 20px; border: 1px solid #DDD;}
.feed-content-stat-comments { width: 40px; text-align: center; position: absolute; right: -15px; top: 110px; padding: 5px; font-size: 8px; background: #FFF; border-radius: 20px; border: 1px solid #DDD;}
.nodisplay { display: none; }
.feed-comment-area { padding:0px; display: none; }
.feed-comment-reply { display: none; height: auto;clear: both; }

.active-comment-like { font-weight: bold; color: #307be2; }

.feed-comment-m { margin-top: 10px; }
.feed-comment-m-part1 { float: left; width: 40px; }
.feed-comment-m-part2 { float: left; width: calc(100% - 40px); font-size: 13px;margin-top: 6px;    color: #888da8;
    font-weight: 400; }
.feed-url-spot {
    padding: 10px;
    border: 1px dashed #DDD;
    margin-top: 10px;
    background: #f9f9f9;
}
.feed-url-spot-image { width: 100px; margin-right: 10px; }
.pac-container{ z-index: 100000000000000 !important; }
.preview-image { width: 100px; height: 100px; }
.video-preview { width: 100px; height: 100px; }

/* Profile */
.profile-header { width: 100%; height:359px; position: relative;    border-radius: 5px 5px 0 0;}
/*.profile-header-options { position: absolute; top: 10px; right: 10px; }*/
.profile-header-avatar {   position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translate(-50%,0);
    background: #FFF;
    padding: 5px;
    border-radius: 50%;
    width: 132px;
    height: 132px;
    z-index: 1;}
.profile-header-bar     .profile-friend-box {
    margin: 5px;
    position: absolute;
    right: 20px;
    top: -34px;
}
.profile-header-avatar img {     
    width: 100%;
    border-radius: 50%;
    height: 100%;
    object-fit: cover; }
.profile-header-name { 
    left: 50%;
    transform: translate(-50%,0);
    bottom: -61px;
    color: #515365;
    font-weight: 700;
   font-size: 18px;
    position: absolute;
    z-index: 1;
    }
.profile-header-bar {    background: #fff;
    height: auto;position: relative;
    width: 100%;
    border-bottom: 1px solid #e6ecf5;
    border-left: 1px solid #e6ecf5;
        padding: 28px 0;
    border-right: 1px solid #e6ecf5;
    border-radius: 0 0 5px 5px;
    }
.profile-header-bar ul {    list-style: none;
    margin: 0px;
    padding: 0px;
  /*  display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;*/}
.profile-header-bar ul li { 
float: left; 
padding-left: 30px;
padding-right: 30px;    
padding-top: 0;
padding-bottom: 0;}
.profile-header-bar .active a {     font-size: 14px;
    font-weight: 700;
    color: #515365; }
    .profile-header-bar li a {     font-size: 14px;
    font-weight: 700;
   color: #9a9fbf; }
.separator { margin-top: 60px; }
.half-separator { margin-top: 15px; }
.page-block-title { 
font-size: 13px;
    font-weight: 700;
    line-height: 1.1;
    color: #323448;
    border-bottom: 2px solid #e9eef6;
    padding: 22px 25px

 }
.page-block-intro { padding: 20px; text-align: center; font-size: 14px;
    color: #888da8; }
.page-block-tidbit {     padding: 0;
    font-size: 11px; }
.profile-friend-box { margin: 5px; }
.profile-friend-area { display: flex;
    margin: 0;
    width: 100%;
    vertical-align: top;
    text-align: center;
    /* float: left; */
    align-items: center;
    /* margin-left: 12px; */
    border-bottom: 2px solid #e9eef6;
    padding: 25px;}
.profile-friend-area img {     border-radius: 50%;
    width: 38px;
    height: 38px; }
    .profile-friend-area a
    {    text-align: left;
    margin-left: 12px;
    font-size: 13px;
    color: #323448;
    font-weight: 700;
    text-transform: capitalize;
    }
.page-block-title a { color:#323448; }
.profile-album-area {     display: inline-block;
    margin: 1px;
    width: 75px;
    vertical-align: top;
    text-align: center; }
.profile-album-area img {    width: 75px;
    border-radius: 3px;
    height: 75px;
 }
.page-event-title { font-size: 14px; }
.page-event { border-bottom: 1px solid #DDD; border-top: 1px solid #DDD; margin-bottom: 10px; border-left: 2px solid #2faaf1; padding: 10px;}
.page-event-big-text { font-size: 22px; }

.album-images { list-style: none; /*margin: 0px;*/ padding: 0px;     margin-bottom: 10px;    display: inline-block;
    width: 100%;}
.album-image {     position: relative;
    display: inline-block;
    margin: 0;
  /*  width: 80px;
    height: 80px;*/
    vertical-align: top;
    text-align: center;
   /* border: 1px solid #e6ecf5;*/ 
    /* padding: 0; */   
    /* padding: 0 0 12px 0; */
	padding-bottom:25px;
    border-radius: 3px;}
.album-image img { 
    width: 100%;
    height: 220px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 4px;
	
	}
.album-image-options { position: relative; }
#responsive-menu-links { margin-bottom: 10px; }

.settings-sidebar { list-style: none; margin: 0px; padding: 0px; }
.settings-sidebar li {   padding: 12px 25px;
    border-bottom: none;
    margin: 0;
    font-size: 13px;
 }

.user-search { border: 1px solid #5195f2; }
.search-user-avatar { float: left; margin-right: 5px;}
.search-user-avatar img { width: 20px; border-radius: 40px; }
.search-user-wrapper { padding: 5px; }
.search-user-info { float: left; }
.search-option-page { border-left: 2px solid #5195f2; margin-bottom: 10px !important; padding-left: 5px !important; }
.search-option-user { border-left: 2px solid #f25173; margin-bottom: 10px !important; padding-left: 5px !important; }
.search-option-user:hover { background: #DDD; }
.search-option-page:hover { background: #DDD; }

.spend-block { display: inline-block; padding: 10px; border: 1px solid #DDD; border-radius: 4px; margin: 5px; text-align: center; }
.post-promoted { font-size: 9px; border: 1px solid #696565; background: #FFF; padding: 3px; margin-right: 10px; border-radius: 4px; }
.feed-poll { border-radius: 4px; border: 1px solid #DDD; padding: 10px; margin-top: 10px; }
.feed-poll-answer { margin-left: 20px; margin-bottom: 5px; border-bottom: 1px solid #EEE; padding-bottom: 5px; }
.feed-poll-answer label { font-weight: normal !important; cursor: pointer; }
.feed-poll-answer:hover { background: #EEE; }
.feed-poll-answer-text { display: inline-block; margin-right: 30px; }

.highlight-button { background: #fb0f41; }
.social-verified { background: #27c2ee; color: #FFF; border-radius: 12px; font-size: 11px; padding: 4px; }
.verified-badge { margin-bottom: 3px; }

.blog-post-thumb { width: 80px !important; height: 80px !important; }
.blog-author { position: absolute; top: 10px; left: 20px; }
.blog-author img { width: 35px; height: 35px; }
.blog-post-title { margin-top: 40px; }
.blog-date { position: absolute; top: 10px; right: 20px; font-size: 11px; }
.blog-post-wrapper { position: relative; margin: 10px; }
.blog-post-image { float: left; margin-right: 20px; min-width: 180px; width: 180px; height: 180px; }
.blog-post-info { float: left; width: 650px; }
.blog-post-thumb-main { width: 150px; }
.blog-post-user-icon { position: absolute; top: -10px; left: -10px; }
.top-margin { margin-top: 20px; }