
@media only screen and (min-width:768px)
{
	.chat-user-list  ,  .user-chat-messages 
{
	display:none;
}
}
@media only screen and (max-width:768px)
{ 
	html body div#main-content {
    padding-top: 58px!important;
}
.mail-reply-timestamp a.btn-danger {
    background-color: #2226e6;
    border-color: #2226e6;
}.mail-reply-body .place-bottom p {
       font-size: 11px;
}
.chat-user-list  footer.footer-chat {
    background: #fbfcff;
    position: fixed;    z-index: 111;
    width: 100%;
    bottom: 0;
    height: 60px;
    border-top: 2px solid #f4f4f4;
    text-align: center;
}
.chat-user-list  footer.footer-chat  button.btn-compose {
     width: 69px;
    height: 69px;
    display: inline-block;
    line-height: 53px;
    font-size: 21px;
    background: #2226e6;  
    color: #fff;
    border-radius: 50%;
    transform: translateY(-25px);
    border: 8px solid #fff;
}
button.btn-compose svg {
   fill: #fff;
}
.chat-user-list .user-chat-inner .mail-box-snippet:hover {
    background: #f7f7f7;
}
.chat-user-list  .form-search .form-group a.input-group-addon {
    background: transparent;
    padding: 0 0px 0px 10px;
    border-radius: 30px 0px 0px 30px;    color: #c2c2c2;
}
.chat-user-list  .form-search {
    padding: 15px 15px 0px 15px;
}
.chat-user-list.chat-padding .input-group .form-control {
    padding: 6px 12px;
    border-color: #c2c2c2;
    border-left: none;
    height: 30px;
    border-radius: 0px 30px 30px 0px;
}
.chat-user-list  footer.footer-chat  button.btn-compose:hover;
{
	opacity:0.8;
}
.chat-user-list .user-chat-inner {
    padding-bottom: 60px;
}
.chat-user-list .mail-box-text p.mail-box-username a {
    font-size: 15px;
}
.chat-user-list .chat-area-left .mail-box-message {
    font-size: 13px;    color: #9d9d9d!important;min-height: 18px;
}
.chat-user-list .user-chat-inner .mail-box-text p.msg-time {
       font-size: 11px;
    line-height: normal;
}
.chat-user-list .user-chat-inner  span.badge-chat {
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;  
    color: #fff;
    background: #1e3ae4;
    display: inline-block;
    text-align: center;
    font-size: 12px;    margin-bottom: 4px;
}
.chat-user-list .user-chat-inner .mail-box-text {
    margin-top: 6px;    position: relative;
}
.chat-user-list .user-chat-inner  .mail-box-username {
    margin: 0px 0px 2px;    color: #707070;font-weight:500;
}
.chat-user-list .user-chat-inner  .chat-area-right {
        color: #707070;
    position: absolute;
    bottom: 0;
    right: 0;
}
.user-chat-messages  .mobile-design.self-reply .mail-reply-message {
    color: #fff;
}
.user-chat-messages .mail-reply-message img {
    width: auto!important;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
.user-chat-messages  .user-messages-header {
    display: block!important;    
}
.user-chat-messages  .user-messages-header .media-body p {
    color: #a5a5a5;
    font-size: 13px;margin-bottom:0px;
}
.user-chat-messages  .user-messages-header .media .media-left img {
    width: 36px;
    height: 36px;
	    margin-top: 0;
}
.user-chat-messages  .user-messages-header h4.media-heading {
    color: #2f33f2;
    font-size: 15px;
	    margin-bottom: 2px;

}
.user-chat-messages   .m-mob-t-56
{
	margin-top:56px;
}
.user-chat-messages  .user-messages-header .user-header-inner {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.08);
    padding: 10px 15px;
    position: fixed;
    z-index: 1;
    top: 57px;
    background: #fff;
}
.user-chat-messages  .user-messages-header .user-header-inner a.user-head-left {
    padding:0px 10px 0px 0px;
}
.user-chat-messages  .user-messages-header .media {
width: calc(100% - 30px);
    margin: 0;
}
.chat-mobile 
{
	display:none;
}
.chat-user-list .mail-box-snippet .mail-box-avatar img {
    width: 55px;
    height: 55px;
}
#main-content .container .row > .col-md-12 {
    padding: 0;
}
.chat-user-list .user-chat-inner .mail-box-snippet .mail-box-avatar {
    width: 55px;
}
.chat-user-list
{
/*display:block!important;*/background: #fff;    border: none;
}
.chat-user-list .user-chat-inner .mail-box-snippet {
    padding: 15px;border: none;
}
.chat-user-list .user-chat-inner .mail-box-snippet .online-dot-user {
    bottom: 0;
    top: inherit;
}
.user-chat-messages {
    background: #fff;/*display:block!important;*/
}

.user-chat-messages .messages .sent p {
    background: #f5f5f5;

	 width: calc(100% - 70px);
    color: #707070;box-sizing: border-box;
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    float: left; 
    display: inline-block;
 line-height: 24px;
    padding: 10px 15px;
}
.user-chat-messages .messages {
    display: inline-block;
    width: 100%;    
	padding: 25px 0 50px;
}
.user-chat-messages .messages .sent {
    display: inline-block;position:relative;
    clear: both;
    float: left; width: 100%;
    margin: 0 0px 15px; 
   
}
.user-chat-messages  .mobile-design 
{
position: relative;
}
.user-chat-messages  a.btn.btn-danger.delete_chat_button {
    width: 17px;
    height: 16px;
    padding: 0;
    line-height: 17px;
    font-size: 8px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 2px;
    background: #2039eb;
}
.user-chat-messages .messages .replies p {
	
    background: #2226e6;box-sizing: border-box;
  
	 width: calc(100% - 70px);
    color: #fff;
    font-size: 14px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    float: right; 
    display: inline-block;
 line-height: 24px;
    padding: 10px 15px;
	
	
	
}
.user-chat-messages .messages .sent span.timestamp {
    color: #a5a5a5;
    font-size: 12px;    padding-left: 10px;
    position: absolute;
    bottom: 0;
    width: 70px;
}
.user-chat-messages .messages .replies span.timestamp {
    color: #a5a5a5;    padding-right: 10px;
    font-size: 12px;
    position: absolute;    width: 70px;
    bottom: 0;
	
}
.user-chat-messages .messages .replies {
    display: inline-block;
    clear: both;
    float: left;
     margin: 0 0px 15px; 
    width: 100%;
	position:relative;
}
.user-chat-messages .footer-user-messages
{
    background: #f6f7f8;
    position: fixed;    display: flex;
    z-index: 111;
    width: 100%;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
   
}
.user-chat-messages   .footer-user-messages  textarea {
background: transparent;
    border: none;
    box-shadow: none;
    border-right: 2px solid #d1d2d2;
    padding: 0 12px;
    height: auto;    outline: none!important;
    width: 90%;
    resize: none;
    line-height: 30px
}

/*.user-chat-messages   .footer-user-messages  .input-group-addon {
    background: transparent;
    border: none;    padding: 0 15px;    font-size: 16px;
}*/
.user-chat-messages   .footer-user-messages  .form-group {
    margin: 0;
    padding: 15px 0;
}
.user-chat-messages   .footer-user-messages  .form-group svg.olymp-plus-icon {
    width: 18px;
    height: 14px;
    fill: #8c8c8c;
}
.user-chat-messages   .footer-user-messages  a.btn-smile {
    display: block!important;    color: #575a62;
    font-size: 20px;
}
.user-chat-messages   .footer-user-messages  .form-group img
{
	    padding-left: 10px;
}.drag-upload input#chat_file {
    display: none;
}
.user-chat-messages  .mail-reply-button {
    margin-top: 7px;
}
.user-chat-messages   .footer-user-messages  .form-group input::placeholder
{
	color:#555;
}
.chat-user-list .offline-dot-user {
    top: initial;
    left: initial;
    bottom: 4px;
    right: 17px;
}
button.send-cht-msg {
    display: block!important;
}
.send-cht-msg
{
	    background: transparent;
    border: none;
    padding: 0;
}.drag-upload.drag-chat label span.icons-plus {
    display: block!important;padding: 6px 15px;
}
.drag-upload.drag-chat {
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
}
.drag-upload.drag-chat label span.icons-drag {
    display: none;
 
}
#smiles-dropdown-wrapper #chat-smilies{
    display: block!important;
}
p.mail-reply-button input.btn.btn-primary.form-control {
    display: none;
}
.user-chat-messages .mail-header.clearfix {
    display: none;
}
.user-chat-messages .mail-reply-message , .user-chat-messages .mail-reply-body p{
     color: #595959;
}
.user-chat-messages  .mail-reply-body .mail-reply-timestamp p {
    color: #a5a5a5!important;
}
.user-chat-messages   .mail-reply {
    border-bottom: none;
    padding: 15px;
}
.user-chat-messages  .mail-reply-body {
    padding-top: 0;
    padding-left: 0;
}
.user-chat-messages  .mail-reply-body p
{
    margin:0px;
}
body div#main-content {
    padding-bottom: 0px!important;
    background: #fff;
}
body  {

    background: #fff;
}
.compose-mobile .mail-reply.clearfix  hr
{
	display:none
}
.compose-mobile  .drag-upload.drag-chat {
    background: #f8f8f8;
    padding: 12px;    margin-top: 15px;

    border: 3px dashed #ddd;
    margin-bottom: 15px;
}
.compose-mobile  .drag-upload.drag-chat input#chat_file {
    display: block;
}
.compose-mobile  p.mail-reply-button input.btn.btn-primary.form-control {
    display: block;
}
.compose-mobile  .mail-reply-button input.btn.btn-primary.form-control {
    font-size: 12px;
    padding: 0px 24px;
    background: #0074ff;
    border: 1px solid #0074ff;
    font-weight: 700;
    height: 35px;
    border-radius: 30px;
}
.br-none
{
	border:none!important;
}
.compose-mobile .mail-reply.clearfix .form-floating-label {
	    padding: 0px 15px;
}.user-chat-messages .mobile-design.self-reply a.btn.btn-danger.delete_chat_button {
    background: #ffffff;
    color: #2039eb;
}
.user-chat-messages .footer-user-messages.open  .dropdown-backdrop		
{
	display:none;
}
.user-chat-messages .footer-user-messages.open >.dropdown-menu {
    display: block;
    bottom: 50px;
    top: inherit;
}
.mobile_output , .mobile-chat-pdf-icon  {
    padding: 0px 15px 15px;
    text-align: center;
}
.mobile_output  .mobile-output-inner  , .mobile-chat-pdf-icon  .mobile-output-inner {
    padding: 15px;
    background: #f5f5f5;
    border-radius: 8px;
    display: inline-block;
    margin: 0 auto;
    position: relative;
}
.mobile_output span#remove-image {
     width: 17px;
    height: 16px;
    padding: 0;
    line-height: 17px;
    font-size: 8px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 2px;
    background: #2039eb;
    color: #fff;
}
.mobile-chat-pdf-icon span#remove-pdf-chat {
    width: 17px;
    height: 16px;
    padding: 0;
    line-height: 17px;
    font-size: 8px;
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: 2px;
    background: #2039eb;
    color: #fff;
}
.jquery_alert.alert-chat-msg {
    padding: 0px 30px;
}
.jquery_alert.alert-chat-msg .alert {
    position: absolute;
    top: 56px;
    width: 100%;
    z-index: 1111;
}
}