@import "variables";

.activation-main{
  background: #fff;
  padding: 15vh 0;
  & > div{
    max-width: $login-container;
    margin: 0 auto;
    display: grid;
    grid-gap: 70px;
    justify-items: center;
    justify-content: center;


  & > div{
      & > img{
        width: 210px;
      }
    }
    & > p{
      font-size: 31px;
    }
    .activation-input-container{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
      & > input{
        width: 440px;
        border-bottom: 1px solid #E3E3E3;
        padding: 10px;
        font-size: 15px;
        &:focus{
          border-bottom: 1px solid #1e8ed0;
        }
      }
      .send-btn{
        padding: 15px 48px;
        color: #fff;
        font-size: 17px;
        background: #1e8ed0;
        border-radius: 26px;
      }
    }
  }
}