

///footer
.footer{
  padding: 25px 0;
  background: $lightBlack;
  .footer-main-div{
    height: 100%;
    align-items: center;
    grid-template-columns: 20% 50% 30%;
    .footer-ul{
      & > li{
        display: inline-block;
        margin:0 12px;
        & > a{
          width:40px;
          height:40px;
          background: #BFC4CE;
          border-radius: 50px;
          & > svg{
            fill:#fff;
            width: 22px;
            height: 22px;
            transition: all 0.25s ease-out;
          }
          & > i{
            font-size: 28px;
            color:#fff;
            transition: all 0.25s ease-out;
          }
          &:hover{
            & > svg{
              fill: $black;
            }
            & > i{
              color:$black;
            }
          }
        }
      }

    }
    .footer-txt{
      color:#BFC4CE;
      font-size: 16px;
      text-align: right;
    }
  }
}

///for fixed footer at bottom of page


.fixed-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
