
//global scss

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background: url("./../../images/blue-background.png") no-repeat top right ;
  background-size: 1250px 700px;
  overflow-x: hidden;
}
.uptown-container{
  max-width: $container-width;
  margin: 0 auto;
}
button,input,textarea,a{
  outline: none;
  font-size: 16px;
}
button{
  cursor: pointer;
  background-color: transparent;
}
input{
  border: 1px solid $black;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
  color: $black;
}
p{
  line-height: 26px;
}

.btn{
  padding: 15px 0;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid $white;
  color: $white;
  text-align: center;
  transition:all 0.2s linear;
}
.uptown-heading{
  position: relative;
  padding: 20px 0 30px 0;
  &:after{
    content: "";
    display: block;
    border: 2px solid $primary-blue;
    position: absolute;
    width: 60px;
    transform: translateX(-50%);
    bottom: 10px;
    left: 50%;
  }
}
.uptown-link{
  color: $primary-blue;
}


//color

.skyblue-txt{
  color : #1d8ecf;
}



//padding-classes
.padding20{
  padding: 20px;
}
///cursor-pointer
.cursor-pointer{
  cursor: pointer;
}
.hr{
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #CFD8E3;
  margin: 12px 0;
}




//global-grid-classes
.two-cols{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.three-cols{
  display:grid;
  grid-template-columns:auto auto auto;
  align-items: center;
}
.center{
  display: grid;
  justify-content: center;
  align-items: center;
}
.gridGap-120{
  grid-gap: 120px;
}
.gridGap-20{
  grid-gap: 20px;
}
.display-grid{
  display: grid;
}
.justifyContent-start{
  justify-content: start;
}
.justifyContent-center{
  justify-content: center;
}
.justifyContent-end{
  justify-content: end;
}
.alignItems-start{
  justify-content: center;
}
.alignItems-end{
  justify-content: end;
}
.alignItems-center{
  justify-content: center;
}


@media screen and (max-width: 1600px ){
  .uptown-container{
    padding: 0 20px;
  }
}
