.how-works-features{
   display: grid;
   grid-template-columns: 1fr 1fr max-content;
  max-width: 1280px;
  margin: 30px auto;
  padding: 0 20px;
  .feature{
    border-bottom: 2px solid #c6c6c6;
    padding: 20px 0;
    .feature-name{
      padding: 20px;
    }
    &.ui-state-active{
      .feature-name{
        border-bottom: 2px solid $primary-blue;
      }
    }
  }
}

.feature-info{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1.5em;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  h1{
    display: none;
  }
  .feature-info-image{
    .info-image{
      width: 100%;
    }
  }
  .feature-directions{
    padding: 0 30px 0 0;
     .directions{
       margin: 20px 0 30px 0;
       padding: 10px 0 30px 0;
       border-bottom: 1px solid #7c7c7c;
       li{
         display: block;
         position: relative;
         padding: 0 0 10px 35px;
         &:before{
           content: "";
           display:block;
           width: 20px;
           height: 20px;
           border-radius: 50%;
           background-color: #7c7c7c;
           position: absolute;
           left: 0;
           top: 0;
         }
       }
     }
    .directions-para{
      font-style: italic;
    }
  }
}

@media screen and (max-width: 680px){
  .how-works-features{
    display: none;
  }
  .feature-info {
    display: block!important;
    margin: 40px 0 0 0;
    h1{
      display: block;
      text-align: center;
      color: $secondary-blue;
      margin: 0 0 20px 0;
    }
    .feature-info-image {
       display: none;
    }
    .feature-directions{
      padding: 0;
    }
  }
}