// Up Town Header scss

.uptown-header {
  padding: 30px 0;
  .nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
  }
  .uptown-logo {
    display: block;
    height: 60px;
    width: 120px;
    .logo {
      height: 60px;
      width: 120px;
    }
  }
  .menu{
    display: flex;
    justify-content: flex-end;
    .nav-bar {
      list-style: none;
      margin-bottom: 0;
      .nav-items {
        display: inline-block;
        padding: 0 20px;
        .item {
          color: $white;
          display: block;
          text-decoration: none;
        }
        &:hover {
          opacity: 0.7;
        }
      }
      .reg-free{
        display: none;
      }
    }
    .menu-icon{
      display: none;
    }
  }
  .register-btn {
    background-color: transparent;
    width: 150px;
    margin: 0 0 0 auto;
    &:hover {
      background-color: $white;
      color: $primary-blue;
      text-decoration: none;
    }
  }
}

// up town banner scss

.uptown-banner {
  display: grid;
  grid-template-columns:50% 50%;
  align-items: center;
  margin: 60px auto;
  .community-power {
    .main-heading {
      font-size: 50px;
      margin-bottom: 20px;
    }
  .tag-line{
      color: $primary-blue;
      font-size: 22px;
      margin-bottom: 20px;
    line-height: 26px;
    }
    .heading-para{
      line-height: 26px;
      font-size: 18px;
      margin-bottom: 30px;
    }
    .banner-btn {
      background-color:$white;
      border: 1px solid $primary-blue;
      width: 150px;
      color: $black;
      margin-right:15px;
      &:hover {
        background-color: $primary-blue;
        color: $white;
      }
    }
  }
  .uptown-screenshot{
    padding: 40px 0  40px 40px;
    .screenshot-img{
      box-shadow: 0 0 24px 0px rgba(0, 0, 0, 0.3);
      width: 100%;
      border-radius: 4px;
    }
  }
}


      //uop town feature scss


.top-features {
  padding: 30px 0 60px 0;
  background-color: $primary-gray;
  position: relative;
  z-index: 1;
  .uptown-heading {
    text-align: center;
  }
  .feature-para {
    text-align: center;
    padding: 20px 0;
    max-width: 1280px;
    margin: 0 auto;
  }
  .features {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 0 0 0;
    grid-column-gap: 3.5em;
    .feature {
      padding: 20px;
      .feature-img {
        .icon {
          width: 45px;
          height: 50px;
        }
      }
      .feature-name {
        padding: 15px 0;
      }
      &:hover {
        background-color: $white;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}


 // up town find home


.find-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .help-friends {
    .uptown-heading {
      &:after {
        left: 0;
        transform: translateX(0);
      }
    }
    .help-friends-para {
      padding: 20px 0;
    }
    .help-friends-link {
      color: $primary-blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .help-friends-img {
    img {
      position: relative;
      right: -400px;
      top: -100px;
    }
  }
}

.connect-neighbors {
  grid-template-columns: 50% 50%;
  .help-friends-img {
    img {
      top: 0;
      left: -350px;
    }
  }
}

.markeet-place {
  grid-template-columns: 50% 50%;
  .help-friends-img {
    img {
      top: 0;
      right: -150px;
    }
  }
}

.calling-lords {
  grid-template-columns: 50% 50%;
  .help-friends-img {
    img {
      top: 0;
      right: unset;
      left: -350px;
    }
  }
}

////newsletter

.newsletter {
  background-image: url('../../images/bg-blue.svg');
  background-size: cover;
  padding: 77px;
  color: #fff;
  text-align: center;
  line-height: 76px;
  margin: 80px auto;
  .newsletter-h1{
    font-size: 50px;
    font-weight: lighter;
  }
  .newsletter-form{
    margin-top: 10px;
    & > input{
      padding: 19px 29px;
      font-size: 13px;
      width: 350px;
      border-radius: 5px;
      &::placeholder{
        color: #C1C6D0;
      }
    }
    & > button{
      padding: 19px 87px;
      margin-left: 30px;
      font-size: 13px;
      border-radius: 5px;
      background: #CFA422;
      color: #fff;
    }
  }
}






////second-last-section

.connect-asset-container{
  padding: 120px 0;
  .connect-iphone-img{
    width: 212px;
    height: 100%;
  }
  .connect-asset-h1{
    font-weight: normal;
    line-height: 1.4;
    margin-bottom: 34px;
    margin-top: 0px;
    width: 460px;
    font-size: 40px;
  }
  .line1 {
    text-align: center;
    width: 62px;
    position: relative;
    left: 0%;
    margin-bottom: 20px;
    border-top: 3px solid #2880e9;
  }
  .black-txt{
    font-size: 17px;
    line-height: 1.5;
    padding-bottom: 5px;
  }
  .gray-txt{
    font-size: 17px;
    color: gray;
    font-weight: 100;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  .assets-connect-btn{
    //width: 145px;
    //padding: 5px 7px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000000;
    cursor: pointer !important;

    .assets-connect-btn-logo{
      width: 40px;

      height: 100%;
    }
    .assets-connect-btn-txt{
      .assets-connect-btn-heading {
        font-size: 8px;
      }
      .assets-connect-btn-para{
        font-size: 15px;
      }
    }

    &:hover{
      background: $lightBlack;
    }


  }
}

//media queries
@media screen and (max-width: 1780px ){
  .find-home {
    .help-friends-img {
      img {
        right: -200px;
        top: -75px;
        width: 100%;
      }
    }
  }
  .markeet-place {
    .help-friends-img {
      img{
        top: 0;
        right: -140px;
      }
    }
  }
  .connect-neighbors {
    .help-friends-img {
      img{
        top: 0;
        left: -160px;
      }
    }
  }
  .calling-lords {
    .help-friends-img{
      img{
        top: 0;
        left: -170px;
      }
    }
  }
}

@media screen and (max-width: 1600px ){

  .uptown-header {
    padding: 30px 20px;
  }
  .top-features {
    .features{
      grid-column-gap: 0;
    }
  }

}
@media screen and (max-width: 1150px ){

  .uptown-banner {
    .community-power{
      padding: 0 10px 0 0;
    }
    .uptown-screenshot{
      padding: 40px 0  40px 10px;
    }
  }
  .top-features {
    .features {
      .feature{
        &:nth-child(1),&:nth-child(3){
          grid-column: 1/3;
        }
        &:nth-child(2),&:nth-child(4){
          grid-column: 3/5;
        }
      }
    }
  }
  .find-home {
    .help-friends-img {
      img {
        right: -123px;
        top: -60px;
      }
    }
  }
  .markeet-place {
    .help-friends-img {
      img{
        top: 0;
        right: -80px;
      }
    }
  }
  .connect-neighbors {
    .help-friends-img {
      img{
        top: 0;
        left: -80px;
      }
    }
  }
  .calling-lords {
    .help-friends-img{
      img{
        top: 0;
        left: -90px;
      }
    }
  }

}
@media screen and (max-width: 780px ){
  .uptown-header {
    background-color: $secondary-blue;
    .menu{
      position: relative;
      .nav-bar {
        display: none;
        position: absolute;
        top: 134%;
        right: 0;
        background-color: $white;
        width: 150px;
        .nav-items {
          display: block;
          border-bottom: 1px solid $primary-gray;
          .item {
            padding: 20px 0;
            color: $black;
          }
        }
        .reg-free{
          display: none;
        }
        &:after{
          content: "";
          border: 5px solid $white;
          position: absolute;
          top: -5px;
          transform: rotate(45deg);
          right: 10px;
        }
      }
      .menu-icon{
        display: block;
        font-size: 34px;
        color: $white;
        margin: 0 0 0 15px;
      }
    }
    .nav{
      grid-template-columns: 1fr max-content max-content;
      .button{
        grid-row: 1;
        grid-column: 2/3;
      }
    }
  }
  .uptown-banner{
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $secondary-blue;
    margin: 0 auto;
    color: $white;
    .community-power {
      text-align: center;
      .banner-btn{
        border:2px solid  $white;
        color: $white;
        background-color: transparent;
        margin: 0 15px 15px 0;
      }
      .tag-line{
        color:$white;
      }
    }
    .uptown-screenshot{
      display: none;
    }
  }

}
@media screen and (max-width: 680px){
  .find-home {
    & >:nth-child(1){
      grid-row: 2;
      grid-column: 1/3;
    }
    & >:nth-child(2){
      grid-row: 1;
      grid-column: 1/3;
    }
  }
  .connect-neighbors {
    margin: 15px 0;
    & >:nth-child(1){
      grid-row: 1;
      grid-column: 1/3;
    }
    & >:nth-child(2){
      grid-row: 2;
      grid-column: 1/3;
    }
  }
  .calling-lords {
    margin: 15px 0;
    & >:nth-child(1){
      grid-row: 1;
      grid-column: 1/3;
    }
    & >:nth-child(2){
      grid-row: 2;
      grid-column: 1/3;
    }
  }

}
@media screen and (max-width: 425px){
  .uptown-header {
    .menu{
      .nav-bar {
        .reg-free {
          display: block;
        }
      }
    }
    .nav{
      .button{
        display: none;
      }
    }
  }
  .uptown-banner{
    .community-power {
      .banner-btn{
        width: 100%;
        margin: 0 0 15px 0;
      }
    }
  }
  .top-features {
    .features {
      .feature{
        &:nth-child(1),&:nth-child(2),&:nth-child(3),&:nth-child(4){
          grid-column: 1/5;
        }
      }
    }
  }
  .find-home {
    .help-friends-img {
      img {
        right: -80px;
        top: -40px;
      }
    }
  }
  .markeet-place {
    .help-friends-img {
      img{
        top: 0;
        right: -50px;
      }
    }
  }
  .connect-neighbors {
    .help-friends-img {
      img{
        top: 0;
        left: -40px;
      }
    }
  }
  .calling-lords {
    .help-friends-img{
      img{
        top: 0;
        left: -35px;
      }
    }
  }
}
@media screen and (max-width: 380px){
  .uptown-header {
    .uptown-logo{
      height: 35px;
      width: 100px;
      .logo{
        height: 35px;
        width: 100px;
      }
    }
    .menu{
      .menu-icon{
        margin: 0 0 0 8px;
      }
    }
  }

}

