@import "variables";

.login-main{
  padding: 15vh 0;
  background: #fff;
  & > div{
    max-width: $login-container;
    margin: 0 auto;
    color: #8493A8;
    .login-main-txt{
      font-size: 24px;
      font-weight: lighter;
    }
    .login-description{
      font-size: 16px;
      font-weight: lighter;
      margin: 10px 0;
    }
    .login-content{
      margin: 20px 0;
      display: grid;
      grid-template-columns: 50% 9% 40%;
      align-items: center;
      justify-content: space-between;
      .login-inputs-container{
        display: grid;
        grid-gap: 20px;
        .login-content-input-container{
          border: 1px solid #E3E8EE;
          border-radius: 50px;
          display: grid;
          background: #ECEFF4;
          grid-template-columns: auto auto;
          justify-content: center;
          grid-gap: 12px;
          align-items: center;
          .login-input{
            width: 405px;
            font-size: 15px;
            background: #ECEFF4;
            padding: 14px 30px 14px 10px;
          }
        }
        .login-btn{
          display: block;
          padding: 14px 30px 14px;
          color: #fff;
          font-size: 15px;
          background: #1e8ed0;
          border-radius: 50px;
          text-align: center;
        }
      }

    }
    .vc-container{
      height: 100%;
      display: grid;
      grid-gap: 10px;
      justify-content: center;
      text-align: center;
      justify-items: center;
      margin: 0 30px;
      .vc{
        width: 1px;
        height: 70px;
        background: #CFD8E3;
      }
      & > p{
        font-size:13px;
      }
    }

    .login-links-container{
      display: grid;
      align-self: baseline;
      grid-gap: 20px;
      .login-link{
        display: grid;
        grid-template-columns: 9% auto;
        padding: 14px 23px 14px;
        border-radius: 4px;
        justify-content: start;
        color: #fff;
        align-self: flex-start;
        cursor: pointer;
      }
      .facebook-link{
        background: #3B5998;
      }
      .google-link{
        background: #DC4838;
      }
    }
  }
  .login-register-link{
    &:hover{
      text-decoration: underline;
    }
  }
}