$black:#000000;
$white:#ffffff;
$primary-blue:#2a80e9;
$secondary-blue:#1681c4;
$primary-gray:#eef2f6;
$primary-Yellow:#d7b741;
$container-width:1586px;

$lightBlack:#333333;
$container-width:1586px;
$login-container:985px;